<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>404</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../css/animate.min.css" rel="stylesheet" />
	<link href="../css/style.min.css" rel="stylesheet" />
	<link href="../css/style-responsive.min.css" rel="stylesheet" />
	<link href="../css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== Vue.js 开始 ================== -->
	<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
	<!-- ================== Vue.js 结束 ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin error -->
        <div class="error">
            <div class="error-code m-b-10">404 <i class="fa fa-warning"></i></div>
            <div class="error-content">
                <div class="error-message">页面不小心走丢了<'_'></div>
                <div class="error-desc m-b-20">
                    The page you're looking for doesn't exist. <br />
                    Perhaps, there pages will help find what you're looking for.
                </div>
                <div>
                    <a th:href="@{/}" class="btn btn-success">重新登录一下试试</a>
                </div>
            </div>
        </div>
        <!-- end error -->
        
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../crossbrowserjs/html5shiv.js"></script>
	<script src="../crossbrowserjs/respond.min.js"></script>
	<script src="../crossbrowserjs/excanvas.min.js"></script>
	<script src="../plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<!-- ================== 本页面的 Vue JS 开始 ================== -->
	<script src="../vue/error/404.js"></script>
	<!-- ================== 本页面的 Vue JS 结束 ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
