<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>批处理平台</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
    </head>
    <body>
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
            <!-- 页面最上方头部 开始 -->
            <div id="header" class="header navbar navbar-default navbar-fixed-top" th:fragment="headerTop">
                <div class="container-fluid">
                    <!-- 页面最上方头部-左半部分 开始 -->
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><span class="navbar-logo"></span> 任务批量处理平台</a>
                        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- 页面最上方头部-左半部分 结束 -->

                    <!-- 页面最上方头部-右半部分 开始 -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form full-width">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="请输入关键字" />
                                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                                <i class="fa fa-bell-o"></i>
                                <span class="label">1</span>
                            </a>
                            <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                                <li class="dropdown-header">通知列表 (1)</li>
                                <li class="media">
                                    <a href="javascript:;">
                                        <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading">新一代任务批量处理系统上线啦!</h6>
                                            <div class="text-muted f-s-11">3 分钟前</div>
                                        </div>
                                    </a>
                                </li>
                                <!--                            <li class="dropdown-footer text-center">-->
                                <!--                                <a href="javascript:;">View more</a>-->
                                <!--                            </li>-->
                            </ul>
                        </li>
                        <li class="dropdown navbar-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <img th:src="@{/img/user-13.jpg}" alt="图片加载失败" />
                                <span class="hidden-xs">谷诗雨</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu animated fadeInLeft">
                                <li class="arrow"></li>
                                <li><a th:href="@{/redirectEditPassword}">修改密码</a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{/}">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 页面最上方头部-右半部分 结束 -->
                </div>
            </div>
            <!-- 页面最上方头部 结束 -->
        </div>
    </body>
</html>