<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>批处理系统</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== CSS层叠样式表文件 开始 ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link th:href="@{/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css}" rel="stylesheet" />
	<link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/css/animate.min.css}" rel="stylesheet" />
	<link th:href="@{/css/style.min.css}" rel="stylesheet" />
	<link th:href="@{/css/style-responsive.min.css}" rel="stylesheet" />
	<link th:href="@{/css/theme/default.css}" rel="stylesheet" id="theme" />
	<!-- ================== CSS层叠样式表文件 结束 ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link th:href="@{/plugins/jquery-jvectormap/jquery-jvectormap.css}" rel="stylesheet" />
    <link th:href="@{/plugins/bootstrap-calendar/css/bootstrap_calendar.css}" rel="stylesheet" />
    <link th:href="@{/plugins/gritter/css/jquery.gritter.css}" rel="stylesheet" />
    <link th:href="@{/plugins/morris/morris.css}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
	
	<!-- ================== 基本JS 开始 ================== -->
	<script th:src="@{/plugins/pace/pace.min.js}"></script>
	<!-- ================== 基本JS 结束 ================== -->

	<!-- ================== Vue.js 开始 ================== -->
	<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<!-- ================== Vue.js 结束 ================== -->
</head>
<body>
	<!-- 页面框架 开始 -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- 页面顶部栏信息 开始 -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top" th:fragment="headerTop">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="#" class="navbar-brand"><span class="navbar-logo"></span> 批处理任务管理系统</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="请输入要搜索的关键字" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
							<li class="dropdown-header">通知列表 (5)</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
									<div class="media-body">
										<h6 class="media-heading">服务器异常</h6>
										<div class="text-muted f-s-11">3 分钟前</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><img th:src="@{/img/user-1.jpg}" class="media-object" alt="" /></div>
									<div class="media-body">
										<h6 class="media-heading">John Smith</h6>
										<p>请于明天上午9:00到董事长办公室开会,请与会同志带好随身物品.</p>
										<div class="text-muted f-s-11">25 分钟前</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><img th:src="@{/img/user-2.jpg}" class="media-object" alt="" /></div>
									<div class="media-body">
										<h6 class="media-heading">Olivia</h6>
										<p>把我的账户重置一下.</p>
										<div class="text-muted f-s-11">35 分钟前</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
									<div class="media-body">
										<h6 class="media-heading"> 新用户注册通知</h6>
										<div class="text-muted f-s-11">1 小时之前</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
									<div class="media-body">
										<h6 class="media-heading"> 来自 John Smith 的新邮件</h6>
										<div class="text-muted f-s-11">2 小时之前</div>
									</div>
								</a>
							</li>
							<li class="dropdown-footer text-center">
								<a href="javascript:;">更多通知</a>
							</li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img th:src="@{/img/user-13.jpg}" alt="" />
							<span class="hidden-xs">王佳芝</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a th:href="@{/redirect/profile}">个人信息</a></li>
							<li><a th:href="@{/redirect/emailInbox}"><span class="badge badge-danger pull-right">8</span>收件箱</a></li>
							<li class="divider"></li>
							<li><a href="/market/manage/web">退出登录</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- 页面顶部栏信息 结束 -->
	</div>
	<!-- 页面框架 结束 -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script th:src="@{/plugins/jquery/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/plugins/jquery/jquery-migrate-1.1.0.min.js}"></script>
	<script th:src="@{/plugins/jquery-ui/ui/minified/jquery-ui.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/crossbrowserjs/html5shiv.js}"></script>
	<script th:src="@{/crossbrowserjs/respond.min.js}"></script>
	<script th:src="@{/crossbrowserjs/excanvas.min.js}"></script>
	<script th:src="@{/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/plugins/jquery-cookie/jquery.cookie.js}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script th:src="@{/plugins/morris/raphael.min.js}"></script>
    <script th:src="@{/plugins/morris/morris.js}"></script>
    <script th:src="@{/plugins/jquery-jvectormap/jquery-jvectormap.min.js}"></script>
    <script th:src="@{/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js}"></script>
    <script th:src="@{/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js}"></script>
	<script th:src="@{/plugins/gritter/js/jquery.gritter.js}"></script>
	<script th:src="@{/js/dashboard-v2.min.js}"></script>
	<script th:src="@{/js/apps.min.js}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<!-- ================== 本页面的 Vue JS 开始 ================== -->
	<script src="../vue/header.js"></script>
	<!-- ================== 本页面的 Vue JS 结束 ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			DashboardV2.init();
		});
	</script>
</body>
</html>
