<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>批处理系统</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- ================== CSS层叠样式表文件 开始 ================== -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link th:href="@{/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css}" rel="stylesheet" />
        <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
        <link th:href="@{/css/animate.min.css}" rel="stylesheet" />
        <link th:href="@{/css/style.min.css}" rel="stylesheet" />
        <link th:href="@{/css/style-responsive.min.css}" rel="stylesheet" />
        <link th:href="@{/css/theme/default.css}" rel="stylesheet" id="theme" />
        <!-- ================== CSS层叠样式表文件 结束 ================== -->

        <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
        <link th:href="@{/plugins/jquery-jvectormap/jquery-jvectormap.css}" rel="stylesheet" />
        <link th:href="@{/plugins/bootstrap-calendar/css/bootstrap_calendar.css}" rel="stylesheet" />
        <link th:href="@{/plugins/gritter/css/jquery.gritter.css}" rel="stylesheet" />
        <link th:href="@{/plugins/morris/morris.css}" rel="stylesheet" />
        <!-- ================== END PAGE LEVEL CSS STYLE ================== -->

        <!-- ================== 基本JS 开始 ================== -->
        <script th:src="@{/plugins/pace/pace.min.js}"></script>
        <!-- ================== 基本JS 结束 ================== -->

        <!-- ================== Vue.js 开始 ================== -->
        <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <!-- ================== Vue.js 结束 ================== -->
    </head>
    <body>
        <!-- 页面加载进度条 开始 -->
        <div id="page-loader" class="fade in"><span class="spinner"></span></div>
        <!-- 页面加载进度条 结束 -->

        <!-- 页面框架 开始 -->
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
            <!-- 页面顶部栏信息 开始 -->
            <div id="header" class="header navbar navbar-default navbar-fixed-top" th:include="header :: headerTop"></div>
            <!-- 页面顶部栏信息 结束 -->

            <!-- 页面左侧导航栏 开始 -->
            <div id="sidebar" class="sidebar" th:include="nav :: navigation"></div>
            <!-- 页面左侧导航栏 结束 -->

            <!-- 页面正中部分内容 开始 -->
            <div id="content" class="content">
                <!-- 页面正中部分内容右上角的当前页面位置显示 开始 -->
                <ol class="breadcrumb pull-right">
                    <li>仪表板</li>
                    <li class="active">当前状态一览</li>
                </ol>
                <!-- 页面正中部分内容右上角的当前页面位置显示 结束 -->

                <!-- 当前页面标题 开始 -->
                <h1 class="page-header">电商主要数据展示平台<small>&nbsp;&nbsp;电商平台数据展示仪表板</small></h1>
                <!-- 当前页面标题 结束 -->

                <!-- 页面下面标题的分割线 开始 -->
                <hr/>
                <!-- 页面下面标题的分割线 结束 -->

                <!-- 仪表板第一行数据展示 开始 -->
                <div class="row">
                    <!-- 今日订单量展示模块 开始 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-green">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                            <div class="stats-title">今日平台访问量</div>
                            <div class="stats-number">7,842,900</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 70.1%;"></div>
                            </div>
                            <div class="stats-desc">本周平台访问量 11,265,900</div>
                        </div>
                    </div>
                    <!-- 今日订单量展示模块 结束 -->

                    <!-- 今日成交额展示模块 开始 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-blue">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-cny fa-fw"></i></div>
                            <div class="stats-title">今日平台成交额</div>
                            <div class="stats-number">￥180,200</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 40.5%;"></div>
                            </div>
                            <div class="stats-desc">本周平台成交额 ￥2,180,232,200</div>
                        </div>
                    </div>
                    <!-- 今日成交额展示模块 结束 -->

                    <!-- 订单数量展示模块 开始 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-purple">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                            <div class="stats-title">今日新增订单数</div>
                            <div class="stats-number">8,900</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 36.3%;"></div>
                            </div>
                            <div class="stats-desc">本周新增订单数 238,900</div>
                        </div>
                    </div>
                    <!-- 订单数量展示模块 结束 -->

                    <!-- 平台新增评论数展示模块 开始 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-black">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                            <div class="stats-title">今日新增评价数</div>
                            <div class="stats-number">3,988</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 54.9%;"></div>
                            </div>
                            <div class="stats-desc">本周新增商品评价数 983,399</div>
                        </div>
                    </div>
                    <!-- 平台新增评论数展示模块 开始 -->
                </div>
                <!-- 仪表板第一行数据展示 结束 -->

                <!-- 仪表板第二行仪表数据展示 开始 -->
                <div>
                    <div class="col-md-pull-12">
                        <div class="widget-chart with-sidebar bg-black">
                            <!-- 左侧折线统计图 开始 -->
                            <div class="widget-chart-content">
                                <h4 class="chart-title">
                                    访客分析
                                    <small>该数据详细展示了本年度每月的访客数量</small>
                                </h4>
                                <div id="visitors-line-chart" class="morris-inverse" style="height: 260px;"></div>
                            </div>
                            <!-- 左侧折线统计图 结束 -->

                            <!-- 左侧折线统计图 开始 -->
                            <div class="widget-chart-sidebar bg-black-darker">
                                <div class="chart-number">
                                    1,225,729
                                    <small>实时访问量</small>
                                </div>
                                <div id="visitors-donut-chart" style="height: 160px"></div>
                                <ul class="chart-legend">
                                    <li><i class="fa fa-circle-o fa-fw text-success m-r-5"></i> 34.0% <span>新用户实时访问量</span></li>
                                    <li><i class="fa fa-circle-o fa-fw text-primary m-r-5"></i> 56.0% <span>老用户实时访问量</span></li>
                                </ul>
                            </div>
                            <!-- 左侧折线统计图 结束 -->
                        </div>
                    </div>
                </div>
                <!-- 仪表板第二行仪表数据展示 结束 -->
            </div>
            <!-- 页面正中部分内容 结束 -->

            <!-- 界面右侧主题设置栏 开始 -->
            <div class="theme-panel" th:include="theme :: theme"></div>
            <!-- 界面右侧主题设置栏 结束 -->

            <!-- 回到页顶按钮 开始 -->
            <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
            <!-- 回到页顶按钮 结束 -->

            <!-- 页脚按钮 开始 -->
            <div class="footer" th:include="footer :: copyright"></div>
            <!-- 页脚按钮 结束 -->
        </div>
        <!-- 页面框架 结束 -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script th:src="@{/plugins/jquery/jquery-1.9.1.min.js}"></script>
        <script th:src="@{/plugins/jquery/jquery-migrate-1.1.0.min.js}"></script>
        <script th:src="@{/plugins/jquery-ui/ui/minified/jquery-ui.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/crossbrowserjs/html5shiv.js}"></script>
        <script th:src="@{/crossbrowserjs/respond.min.js}"></script>
        <script th:src="@{/crossbrowserjs/excanvas.min.js}"></script>
        <script th:src="@{/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/plugins/jquery-cookie/jquery.cookie.js}"></script>
        <!-- ================== END BASE JS ================== -->

        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <script th:src="@{/plugins/morris/raphael.min.js}"></script>
        <script th:src="@{/plugins/morris/morris.js}"></script>
        <script th:src="@{/plugins/jquery-jvectormap/jquery-jvectormap.min.js}"></script>
        <script th:src="@{/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js}"></script>
        <script th:src="@{/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js}"></script>
        <script th:src="@{/plugins/gritter/js/jquery.gritter.js}"></script>
        <script th:src="@{/js/dashboard-v2.js}"></script>
        <script th:src="@{/js/apps.min.js}"></script>
        <!-- ================== END PAGE LEVEL JS ================== -->

        <!-- ================== 本页面的 Vue JS 开始 ================== -->
        <script th:src="@{/vue/main.js}"></script>
        <!-- ================== 本页面的 Vue JS 结束 ================== -->
        <script>
            $(document).ready(function() {
                App.init();
                DashboardV2.init();
            });
        </script>
    </body>
</html>
