<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>批处理系统</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

    <!-- ================== CSS层叠样式表文件 开始 ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link th:href="@{/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css}" rel="stylesheet" />
	<link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/css/animate.min.css}" rel="stylesheet" />
	<link th:href="@{/css/style.min.css}" rel="stylesheet" />
	<link th:href="@{/css/style-responsive.min.css}" rel="stylesheet" />
	<link th:href="@{/css/theme/default.css}" rel="stylesheet" id="theme" />
    <!-- ================== CSS层叠样式表文件 结束 ================== -->

    <!-- ================== 基本JS 开始 ================== -->
	<script th:src="@{/assets/plugins/pace/pace.min.js}"></script>
    <!-- ================== 基本JS 结束 ================== -->

    <!-- ================== Vue.js 开始 ================== -->
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!-- ================== Vue.js 结束 ================== -->
</head>
<body class="pace-top bg-white">
    <!-- 页面加载进度条 开始 -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- 页面加载进度条 结束 -->

    <!-- 页面框架 开始 -->
	<div id="page-container" class="fade">
	    <!-- 页面内容 开始 -->
        <div class="register register-with-news-feed">
            <!-- 注册页面左侧图片区域 开始 -->
            <div class="news-feed">
                <div class="news-image">
                    <img th:src="@{/img/login-bg/bg-8.jpg}" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-edit text-success"></i> 批处理系统</h4>
                    <p>
                        As a Color Admin Apps administrator, you use the Color Admin console to manage your organization’s account, such as add new users, manage security settings, and turn on the services you want your team to access.
                    </p>
                </div>
            </div>
            <!-- 注册页面左侧图片区域 结束 -->
            
            <!-- 注册页面右侧注册区域 开始 -->
            <div class="right-content">
                <h1 class="register-header">
                    用户注册
                    <small>在这里创建你的专属账户</small>
                </h1>
                <div class="register-content">
                    <form action="#" method="POST" class="margin-bottom-0">
                        <label class="control-label">用户名 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="请输入合法的用户名" required />
                            </div>
                        </div>
                        <label class="control-label">电子邮箱 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="请输入有效的电子邮箱地址" required />
                            </div>
                        </div>
                        <label class="control-label">密码 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="包含大小写字母及数字,6-20位,不能含有特殊字符" required />
                            </div>
                        </div>
                        <label class="control-label">确认密码 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="请再输入一次密码" required />
                            </div>
                        </div>
                        <div class="checkbox m-b-30">
                            <label>
                                <input type="checkbox" required />勾选此项表示您同意了我们的<a href="#">条款</a>，并且您已经阅读了我们的<a href="#">数据政策</a>，包括我们的Cookie使用.
                            </label>
                        </div>
                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">注册</button>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                            已有账户? 点击 <a href="/">这里</a> 登录.
                        </div>
                        <hr />
                        <p class="text-center">
                            &copy; MicroWorld All Right Reserved 2021 - 2022
                        </p>
                    </form>
                </div>
            </div>
            <!-- 注册页面右侧注册区域 结束 -->
        </div>
        <!-- 页面内容 结束 -->
	</div>
    <!-- 页面框架 结束 -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script th:src="@{/plugins/jquery/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/plugins/jquery/jquery-migrate-1.1.0.min.js}"></script>
	<script th:src="@{/plugins/jquery-ui/ui/minified/jquery-ui.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/crossbrowserjs/html5shiv.js}"></script>
    <script th:src="@{/crossbrowserjs/respond.min.js}"></script>
    <script th:src="@{/crossbrowserjs/excanvas.min.js}"></script>
	<script th:src="@{/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/plugins/jquery-cookie/jquery.cookie.js}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script th:src="@{/js/apps.min.js}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

    <!-- ================== 本页面的 Vue JS 开始 ================== -->
    <script src="../vue/register.js"></script>
    <!-- ================== 本页面的 Vue JS 结束 ================== -->
    
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
